body {
    font-family: Arial, sans-serif;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.button { /* Green */
    border: none;
    margin-top: 20px;
    width: 35%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    display: block;
}

.blue {
    background-color: #4d8eaf;
}

.green {
    background-color: #4CAF50;
}
#battery-level {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

footer {
    color: grey;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}