body {
    font-family: Arial, sans-serif;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.button { /* Green */
    border: none;
    margin-top: 20px;
    width: 35%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    display: block;
}

.blue {
    background-color: #4d8eaf;
}

.green {
    background-color: #4CAF50;
}

#input-command {
    margin-top: 8px;
    box-sizing: border-box;
    padding: 20px;
    width: auto;
    display: inline-block;
}

#send-command {
    display: inline-block;
}


#log {
    width: 50%;
    height: 500px;
    font-size: 0.6em;
    overflow: scroll;
}